<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97cf6d">  <td>22/04/10 16:39:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.appLaunch()[pri:0, instance:week5.pom.testcases.createContactPOM@2034b64c]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@810267739</td>   <td></td> </tr>
<tr bgcolor="97cf6d">  <td>22/04/10 16:39:37</td>   <td>24467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.browserClose()[pri:0, instance:week5.pom.testcases.createContactPOM@2034b64c]">&lt;&lt;browserClose</td> 
<td>&nbsp;</td>  <td>main@810267739</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>22/04/10 16:39:18</td>   <td>5321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createContactPOM.createContactPOM(java.lang.String,java.lang.String)[pri:0, instance:week5.pom.testcases.createContactPOM@2034b64c]">createContactPOM</td> 
  <td>main@810267739</td>   <td></td> </tr>
<tr bgcolor="97cf6d">  <td>22/04/10 16:39:12</td>   <td>-1328</td> <td title="&gt;&gt;BaseClass.propertyLoad()[pri:0, instance:week5.pom.testcases.createContactPOM@2034b64c]">&gt;&gt;propertyLoad</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@810267739</td>   <td></td> </tr>
<tr bgcolor="bce87c">  <td>22/04/10 16:39:12</td>   <td>-1321</td> <td>&nbsp;</td><td title="&gt;&gt;createContactPOM.setsheet()[pri:0, instance:week5.pom.testcases.createContactPOM@2034b64c]">&gt;&gt;setsheet</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@810267739</td>   <td></td> </tr>
</table>
