<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Opportunity</td><td>EditOpportunity.editOpporutunity()[pri:0, instance:week3.testcases.EditOpportunity@268f106e]<br/>NewOpportunity.createOpporutunity()[pri:0, instance:week3.testcases.NewOpportunity@6e9a5ed8]<br/>DeleteOpportunity.delteOpporutniy()[pri:0, instance:week3.testcases.DeleteOpportunity@7e057f43]<br/></td></tr>
<tr><td>dashboard</td><td>EditDashboard.EditDash()[pri:0, instance:week3.testcases.EditDashboard@5b247367]<br/>DeleteDashboard.deleteDashboard()[pri:0, instance:week3.testcases.DeleteDashboard@117159c0]<br/>CreateDashboard.createNewDash()[pri:0, instance:week3.testcases.CreateDashboard@1750fbeb]<br/></td></tr>
</table>
