<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:11:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.NewOpportunity@6e9a5ed8]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="6d9386">  <td>22/03/13 15:10:40</td>   <td>-34963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewOpportunity.createOpporutunity()[pri:0, instance:week3.testcases.NewOpportunity@6e9a5ed8]">createOpporutunity</td> 
  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="c8eb65">  <td>22/03/13 15:11:25</td>   <td>10006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteOpportunity.delteOpporutniy()[pri:0, instance:week3.testcases.DeleteOpportunity@7e057f43]">delteOpporutniy</td> 
  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:09:15</td>   <td>-120346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.driverstart(java.lang.String,java.lang.String)[pri:0, instance:week3.testcases.EditOpportunity@268f106e]">&gt;&gt;driverstart</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:05:54</td>   <td>-320938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.driverstart(java.lang.String,java.lang.String)[pri:0, instance:week3.testcases.DeleteDashboard@117159c0]">&gt;&gt;driverstart</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:07:03</td>   <td>-252251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.DeleteDashboard@117159c0]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:11:15</td>   <td>309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.driverstart(java.lang.String,java.lang.String)[pri:0, instance:week3.testcases.DeleteOpportunity@7e057f43]">&gt;&gt;driverstart</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="a370f4">  <td>22/03/13 15:07:44</td>   <td>-211152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditDashboard.EditDash()[pri:0, instance:week3.testcases.EditDashboard@5b247367]">EditDash</td> 
  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:07:03</td>   <td>-251914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.driverstart(java.lang.String,java.lang.String)[pri:0, instance:week3.testcases.CreateDashboard@1750fbeb]">&gt;&gt;driverstart</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:12:02</td>   <td>46957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.DeleteOpportunity@7e057f43]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:10:05</td>   <td>-70164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.EditOpportunity@268f106e]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="9d687a">  <td>22/03/13 15:07:09</td>   <td>-245485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateDashboard.createNewDash()[pri:0, instance:week3.testcases.CreateDashboard@1750fbeb]">createNewDash</td> 
  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:07:40</td>   <td>-214495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.CreateDashboard@1750fbeb]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="72a8b5">  <td>22/03/13 15:06:00</td>   <td>-315298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteDashboard.deleteDashboard()[pri:0, instance:week3.testcases.DeleteDashboard@117159c0]">deleteDashboard</td> 
  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:10:05</td>   <td>-69911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.driverstart(java.lang.String,java.lang.String)[pri:0, instance:week3.testcases.NewOpportunity@6e9a5ed8]">&gt;&gt;driverstart</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="bfa075">  <td>22/03/13 15:09:25</td>   <td>-109667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditOpportunity.editOpporutunity()[pri:0, instance:week3.testcases.EditOpportunity@268f106e]">editOpporutunity</td> 
  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:07:41</td>   <td>-214250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.driverstart(java.lang.String,java.lang.String)[pri:0, instance:week3.testcases.EditDashboard@5b247367]">&gt;&gt;driverstart</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>22/03/13 15:09:14</td>   <td>-120608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.EditDashboard@5b247367]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1689690046</td>   <td></td> </tr>
</table>
