<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Testing testNG</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:24:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.EditDashboard@cc43f62]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:24:52</td>   <td>12324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.f1()[pri:0, instance:week3.testcases.EditOpportunity@6caf0677]">&gt;&gt;f1</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:24:20</td>   <td>-19948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.f1()[pri:0, instance:week3.testcases.DeleteDashboard@5b218417]">&gt;&gt;f1</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:25:45</td>   <td>65421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.EditOpportunity@6caf0677]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:26:35</td>   <td>115479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.DeleteOpportunity@413d1baf]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="647f75">  <td>22/03/12 17:23:47</td>   <td>-53194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditDashboard.EditDash()[pri:0, instance:week3.testcases.EditDashboard@cc43f62]">EditDash</td> 
  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="6e7bab">  <td>22/03/12 17:24:47</td>   <td>7230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewOpportunity.createOpporutunity()[pri:0, instance:week3.testcases.NewOpportunity@645aa696]">createOpporutunity</td> 
  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:24:52</td>   <td>12120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.DeleteDashboard@5b218417]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:24:40</td>   <td>208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.f1()[pri:0, instance:week3.testcases.NewOpportunity@645aa696]">&gt;&gt;f1</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:25:26</td>   <td>46363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.NewOpportunity@645aa696]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:23:36</td>   <td>-63567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.f1()[pri:0, instance:week3.testcases.CreateDashboard@2cf3d63b]">&gt;&gt;f1</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="b59da4">  <td>22/03/12 17:25:31</td>   <td>51326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteOpportunity.delteOpporutniy()[pri:0, instance:week3.testcases.DeleteOpportunity@413d1baf]">delteOpporutniy</td> 
  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>22/03/12 17:23:46</td>   <td>-53561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateDashboard.createNewDash()[pri:0, instance:week3.testcases.CreateDashboard@2cf3d63b]">createNewDash</td> 
  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:25:26</td>   <td>46522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.f1()[pri:0, instance:week3.testcases.DeleteOpportunity@413d1baf]">&gt;&gt;f1</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="75d2d7">  <td>22/03/12 17:24:23</td>   <td>-16677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteDashboard.deleteDashboard()[pri:0, instance:week3.testcases.DeleteDashboard@5b218417]">deleteDashboard</td> 
  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:23:36</td>   <td>-63567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.f1()[pri:0, instance:week3.testcases.EditDashboard@cc43f62]">&gt;&gt;f1</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-2@1426557261</td>   <td></td> </tr>
<tr bgcolor="87bbef">  <td>22/03/12 17:24:20</td>   <td>-20106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closingBrowser()[pri:0, instance:week3.testcases.CreateDashboard@2cf3d63b]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
<tr bgcolor="a07e72">  <td>22/03/12 17:25:00</td>   <td>20209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditOpportunity.editOpporutunity()[pri:0, instance:week3.testcases.EditOpportunity@6caf0677]">editOpporutunity</td> 
  <td>TestNG-test=Regression-1@70177214</td>   <td></td> </tr>
</table>
